<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>WeatherApp.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>60E7EBF42A1FA79300C8F53C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>60E7EC0D2A1FA79600C8F53C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>60E7EC172A1FA79600C8F53C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
